<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- general application log -->
	<appender name="ConversionFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/threadConversion.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd} %d{HH:mm:ss} %-5p %C %m%n" />
		</layout>
	</appender>

	<!-- additional fooSystem logging -->
	<appender name="ImportFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/threadImport.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd} %d{HH:mm:ss} %-5p %C %m%n" />
		</layout>
	</appender>

	<logger name="com.kleegroup.scheduler.conversion" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ConversionFile" />
	</logger>

	<logger name="com.kleegroup.scheduler.load" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ImportFile" />
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="ImportFile" />
		<appender-ref ref="ConversionFile" />
	</root>
</log4j:configuration>